@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 1px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #F8FAFC;

  & > #card {
    max-width: 600px;
    width: 100vw;
    height: auto;
    min-height: 480px;
    padding: 30px;
    margin: 0 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    transition: all 0.4s;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.03);

    &:hover {
      box-shadow: 0 10px 10px 10px rgba(128, 128, 128, 0.07);
    }

    & > #person-info {
      text-align: center;

      & > #image-container {
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 20px;

        & > #quotes {
          position: absolute;
          top: 10px;
          left: 0px;

          & > svg {
            fill: white;
            padding: 10px;
            border-radius: 50%;
            background-color: #645CFF;
          }
        }

        & > #image {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: 10px -5px 0px 1px #645CFF;
        }
    }

      & > #name {
        font-size: 26px;
        margin-bottom: 5px;
      }

      & > #job {
        font-size: 16px;
        margin-bottom: 15px;
        color: #645CFF;
        font-style: italic;
      }

      & > #description {
        line-height: 25px;
        font-size: 17px;
        margin-bottom: 10px;
      }
    }

    & > #change-person {
      text-align: center;

      & > #arrows {
        margin-bottom: 10px;

        & > #left-arrow, & > #right-arrow {
          color: #3C3799;
          margin: 0 10px;
          cursor: pointer;
          transition: all 0.4s;
          
          &:hover {
            color: #645CFF;
          }
        }
      }

      & > #surprise-me {
        border: none;
        cursor: pointer;
        padding: 7px 15px;
        border-radius: 5px;
        color: #4e45ff;
        font-weight: 700;
        font-size: 16px;
        transition: all 0.4s;
        background-color: #c1beff;
        
        &:hover {
          color: #c1beff;
          background-color: #3c3799;
          box-shadow: 0 0 10px 2px #3c37998a;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #main {

    & > #card {
      min-height: 300px;
      margin: 0 10px;

      & > #person-info {

        & > #image-container {
          width: 130px;
          height: 130px;

          & > #quotes {

            & > svg {
              padding: 7px;
              height: 2em;
              width: 2em;
            }
          }

          & > #image {
            width: 130px;
            height: 130px;
          }
      }

        & > #name {
          font-size: 24px;
        }

        & > #description {
          font-size: 16px;
        }
      }
    }
  }
}